<a href="https://colab.research.google.com/github/CastleSONG/pythonbasicclass/blob/main/Python_Basic_Day07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for item in enumerate(['가위','바위','보']):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [3]:
#분리하는 방법
for idx, item in enumerate(['가위','바위','보']):
  print(idx+1,item)

1 가위
2 바위
3 보

In [4]:
#page 164 Method 

name = input('이름을 입력하세요>>> ')

list = []

list.append(name)

print(list)

이름을 입력하세요>>> SONG
['SONG']

In [5]:
s = '내가 그린 기린 그림은 목 긴 기린 그림이과, 네가 그린 기린 그림은 목짧은 기린 그림이다.'
s.count('기린')

4

In [6]:
s = 'best of best'
s.count('best',5)

1

In [7]:
s = 'Life is to short'

s.split()

['Life', 'is', 'to', 'short']

In [8]:
s = '010-1234-5678'

s.split('-')

['010', '1234', '5678']

In [10]:
s = '제임스,25,남,서울'
s.split(',')

['제임스', '25', '남', '서울']

In [13]:
ques = input('이름과 나이를 함께 입력하세요(예 : 홍길동 26')
ques.split()

이름과 나이를 함께 입력하세요(예 : 홍길동 26김성 28

['김성', '28']

In [ ]:
# 사용자 정의 함수 - 사용자가 직접 만든 함수.

# 입력 input
# 출력 output

# 1. 입력이 있고 출력이 있는 함수
# 2. 입력이 있고 출력은 없는 함수
# 3. 입력이 없고 출력은 있는 함수 
# 4. 입력도 없고 출력도 없는 함수

    # def 함수이름(매개변수):
    # 본문
    # return 반환값

In [14]:
# 입력도 없고 리턴도 없는 함수 
def welcome():
  print('Hello python')
  print('Nice to meet you')

welcome()

Hello python
Nice to meet you

In [17]:
# 입력이 있고 리턴은 없는 함수 

def introduce(name,age):
  print(f'내 이름은 {name}이고 , 나이는 {age}입니다.')

introduce('SONG',28)
introduce('Andy',22)

내 이름은 SONG이고 , 나이는 28입니다.
내 이름은 Andy이고 , 나이는 22입니다.

In [18]:
def show(*args):
  for item in args:
    print(item)

show('python')
show('happy','birthday')

python
happy
birthday

In [22]:
# 매개변수
def addsum(*args):
  sum = 0
  for arg in args:
    sum = sum + arg
  print(sum)

def addsum2(a,b):
  print(a+b)

def addsum3(a,b,c):
  print(a+b+c)

addsum(1,2)
addsum(1,2,3,4)

3
10

In [29]:
# 디폴트 매개변수는 마지막에 위치시킨다.

# def greet(message='안녕하세요', name):
#   print(f'{name}님 {message}')

def greet(name, message='안녕하세요'):
   print(f'{name}님 {message}')

greet('김성')

김성님 안녕하세요

In [30]:
# 입력이 없고 리턴이 있는 함수

def address():
  str = '우편번호 12345\n'
  str += '서울시 영등포구 여의도동'
  return str

print(address())

우편번호 12345
서울시 영등포구 여의도동

In [31]:

def address():
  str = '우편번호 12345\n'
  str += '서울시 영등포구 여의도동'
  return str

address()

'우편번호 12345\n서울시 영등포구 여의도동'

In [34]:
#다중 반환 # 여러개가 반환되는 것처럼 보이지만 튜플 마냥 하나만 출력이 되는것 착각 금지
def calculator(*args):
  return sum(args), sum(args)/len(args), max(args),min(args)

a,b,c,d=calculator(1,2,3,4,5)
print(a)
print(b)
print(c)
print(d)

15
3.0
5
1

In [36]:
def charge(energy):
  if energy < 0:
    print('0보다 작은 에너지는 충전할 수 없습니다.')
    return
  print('에너지가 충전되었습니다.')

charge(-1)

0보다 작은 에너지는 충전할 수 없습니다.

In [39]:
# local variable & global variable

# local variable (지역변수)

def f():
  a = 10
  print(f'내부 : {a}') # 내부에서 실행된 것은 바로 실행이 된다

f()

print(f'외부 : {a}') # 안에서 실행된 것과는 달리 함수 자체가 달라진다.

내부 : 10
외부 : 15

In [41]:
# global variable 전역변수 

b = 10  #바깥쪽에서 선언을 했기에 모두 해당이 되므로 적용이 되는 것을 볼 수 있다.

def f():
  print(f'내부 :{b}')

f()

print(f'내부 :{b}')

내부 :10
내부 :10

In [42]:
def f():
  global a
  a = 10
  print(a)

f()

print(a)
# 이건 다시 설명을 들을 필요가 있다. 왜 10 10이 나오는 건지 변수 선언은 안쪽에다 했는데 전역변수 처럼 적용이 됐는지

10
10

In [45]:
#1

def vending_machine(money):
  price = 700 #700, 1400 , 2100 ,2800 

  for i in range((money // price)+1):
    coin = money - price * i
    print(f'음료수 = {i}개, 잔돈 = {coin}원')

vending_machine(3000)

음료수 = 0개, 잔돈 = 3000원
음료수 = 1개, 잔돈 = 2300원
음료수 = 2개, 잔돈 = 1600원
음료수 = 3개, 잔돈 = 900원
음료수 = 4개, 잔돈 = 200원

In [48]:
#2

def get_average(marks):
  sum = 0
  for i in marks:
   sum += marks[i]
  return sum/len(marks)
  

marks = {'국어':90,'영어':80,'수학':85}
average = get_average(marks)
print(f'평균은{average}입니다.')

평균은85.0입니다.

In [50]:
#3

total = 0
def gift(dic,who,money):
  global total
  total += money
  dic[who] = money


wedding = {}
gift(wedding,'영희',5)
gift(wedding,'철수',3)
gift(wedding,'이모',10)

print(f'축의금 명단 : {wedding}')
print(f'축의금 명단 : {total}')

축의금 명단 : {'영희': 5, '철수': 3, '이모': 10}
축의금 명단 : 18

In [ ]:
# 모듈 과 임포트 
#모듈 : 재사용이 가능하도록 변수, 함수, 클래스등을 모아노흔 .python