<a href="https://colab.research.google.com/github/CastleSONG/pythonbasicclass/blob/main/Python_Basic_Day03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list tuple dict set 반드시 외워야 함. 복습

# list 특징 대괄호 사용[] / indexing(몇번째)/slicing(몇글자) 가능 / mutable(수정 삭제가능)/ [1]
# tuple 특징 소괄호 사용() / indexing(몇번째)/slicing(몇글자) 가능 / immutable(수정 삭제 불가능) / (1,) 
# set 특징 중괄호 사용 {} / indexing(몇번째)/slicing(몇글자) 사용 불가능 / mutable(수정 삭제가능) / {1,2,3} 
# dict 특징 중괄호 사용{} / indexing(몇번째)/slicing(몇글자) 사용 불가능 / mutable(수정 삭제가능) /{'key':'value'}

In [27]:
#1
s = '31025'
a = s[0] #indexing
b = s[1:3] #slicing
c = s[3:] #slicing
print(a,'학년', b,'반', c , '번'  )
print(f'{a}학년 {b}반 {c}번') # f 스트링

3 학년 10 반 25 번
3학년 10반 25번

In [31]:
#2
s = '서울2가1234' #10가의 1234가 있을수 있고 변수가 생길수 있기에 
a = s[-4:]
print(s, '의 차량번호 4자리는',a, '입니다')
print(f'{s}의 차량번호 4자리는 {a} 입니다') #f 스트링

서울2가1234 의 차량번호 4자리는 1234 입니다
서울2가1234의 차량번호 4자리는 1234 입니다

In [47]:
#3
s = 'maple' # 가운데 p 출력
center = s[len(s) // 2]  # 그 문자의 길이를 구할때 len를 사용한다고 함 
                      #1 // : 나머지를 버리고 몫값만 취한다.  제일 많이 사용 
                      #2 % : 몫은 버리고 나머지만 취한다 (홀/짝/배) 나중에 제일 많이 사용
                      #3 / : 나머지까지  
print(s,'의 가운데 글자는',center, '입니다')
print(f'{s} 의 가운데 글자는 {center} 입니다')

maple 의 가운데 글자는 p 입니다
maple 의 가운데 글자는 p 입니다

In [61]:
#4
# s = [10,20,30,40,50,60,70,80,90,100]
# a = s[2:7]
# b = s[3]
# print('3번째 요소부터 7번째 요소' ,a)
# print('3번째 요소부터 7번째 요소 중 2번째 요소 =' ,b) #내가 직접 해본건 이것 

li1 = [10,20,30,40,50,60,70,80,90,100]

print('3번째 요소부터 7번째 요소 = ',li[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 요소 = ',li[2:7][1])

3번째 요소부터 7번째 요소 =  [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 =  40

In [60]:
#5
dict = {'금요일':'탕수육',
        '토요일':'유산슬',
        '일요일':'팔보채'}

print('금요일 :',dict['금요일'])
print('토요일 :',dict['토요일'])
print('일요일 :',dict['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [69]:
# \ 따옴표의 기능을 무력화시키고 글자로 표현 
# \n 줄바꿈 line feed
# \t 탭 tab

print('Hello \'world\'')
print("Hello 'world'")

print("Hello \"World\"")
print('Hello "World"')

print('*\n**\n***')
print('Hello\nWorld')

print('이름\t연락처')
print('제시카\t01-123-4567')
print('마틴\t010-6789-7890')

Hello 'world'
Hello 'world'
Hello "World"
Hello "World"
*
**
***
Hello
World
이름	연락처
제시카	01-123-4567
마틴	010-6789-7890

In [73]:
#print()함수

print('재미있는','파이썬') #띄어쓰기가 기본 
print('재미있는','파이썬',sep=',') #띄어쓰기를 구분 #구분자라고 함 
print('재미있는','파이썬',sep='/')
print('재미있는','파이썬',sep=':')

재미있는 파이썬
재미있는,파이썬
재미있는/파이썬
재미있는:파이썬

In [74]:
# 
print('영화 타이타닉')
print('평점',end=':') #end='' 줄을 바꾸지 말라는 공식같은 놈 
print('5점')

영화 타이타닉
평점:5점

In [83]:
# % 연산자 (비추)

print('%d' %11) # %d 정수 10진수 자리표시자
print('%o' %10) # %o 정수 8진수 자리표시자 

print('%f' %3.14) # %f는 실수형 자리표시자 
print('%s' %3.14) # %s는 문자형 자리표시자

11
12
3.140000
3.14

In [87]:
print('%d' % 1)
print('%5d' % 1) #5자리를 확보한 상태에서 오른쪽에 출력이 됨
print('%5d' % 11)#5자리를 확보한 상태에서 오른쪽부터 출력이 됨

print('%-5d' % 1) #5자리를 확보한 상태에서 왼쪽에 출력이 됨
print('%-5d' % 11)#5자리를 확보한 상태에서 왼쪽부터 출력이 됨

1
    1
   11
1
11

In [90]:
print('%5.2f' % 3.14) # 다섯칸을 확보하고 소수 2자리까지 오른쪽에 실수 출력
print('%5.1f' % 3.14) # 다섯칸을 확보하고 소수 1자리까지 오른쪽에 실수 출력

print('%-5.2f' % 3.14) # 다섯칸을 확보하고 소수 2자리까지 왼쪽에 실수 출력
print('%-5.1f' % 3.14) # 다섯칸을 확보하고 소수 1자리까지 왼쪽에 실수 출력

 3.14
  3.1
3.14
3.1

In [93]:
a = '학생'

#기본 출력
print(a,'입니다.')
#f string 출력 방법
print(f'{a} 입니다.')

# % 연산자 출력방법
print('%s 입니다.' % a) 
# format() 출력 방법 
print('{} 입니다.' .format(a))

학생 입니다.
학생 입니다.
학생 입니다.
학생 입니다.

In [94]:
# format() 매서드 

print('My name is {}'.format('Song'))

My name is Song

In [95]:
print('My name is {0}'.format('Song'))

My name is Song

In [98]:
print('My name is {name}'.format(name='SONG'))

My name is SONG

In [102]:
print('My name is {}. I\'m {} years old. '.format('song',20))
print('My name is {1}. I\'m {0} years old. '.format('song',20))

My name is song. I'm 20 years old.
My name is 20. I'm song years old.

In [103]:
print('My name is {name}. I\'m {age} years old. '.format(name='song',age=20))

My name is song. I'm 20 years old.

In [104]:
# f-strings 가장 많이 쓰고 추천하는 문법

who = 'you'
now = 'happy'

print(f'{who} make me {now}')

you make me happy

In [105]:
age = 25 
print(f'내년엔 {age+1}살이 됩니다.')

내년엔 26살이 됩니다.

In [106]:
#표준 입력 

a = input()
print(a)

asd
asd

In [107]:
n = input('정수를 입력하세요 : ')
print(n)

정수를 입력하세요 : 12
12

In [108]:
name = input('이름을 입력하세요 >>>')
print(name)
age = input('나이를 입력하세요 : ')
print(age)

이름을 입력하세요 >>>나
나
나이를 입력하세요 : 17
17

In [111]:
name = input('이름을 입력하세요 >>>')
age = input('나이를 입력하세요 : ')
#format 형식
print('입력된 이름은{}입니다. ' .format(name))
print('입력된 나이는{}입니다. ' .format(age))
# % 형식
print('입력된 이름은%s입니다. ' %name)
print('입력된 나이는%s입니다. ' %age)
# f-string 형식
print(f'입력된 이름은{name}입니다. ')
print(f'입력된 나이는{age}입니다. ')
# 기본형식
print('입력된 이름은 ',name,'입니다.' )
print('입력된 나이는 ',age,'입니다.')

이름을 입력하세요 >>>전병
나이를 입력하세요 : 15
입력된 이름은전병입니다.
입력된 나이는15입니다.
입력된 이름은전병입니다.
입력된 나이는15입니다.
입력된 이름은전병입니다.
입력된 나이는15입니다.
입력된 이름은  전병 입니다.
입력된 나이는  15 입니다.