<a href="https://colab.research.google.com/github/CastleSONG/pythonbasicclass/blob/main/python_Basic_Day05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 조건문 if
# 조건문은 특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라진다. 

a = -1
if a > 0:
  print('양수')

양수

In [5]:
# draw io program  쓰는 것도 놓치지 말자. (자주 사용 해 볼것)
a = 1
if a > 0:
  print('양수')
elif a ==0:
  print('0')
else:
  print('음수')

양수

In [7]:
#page 99 
#1 불필요한 반복이 많다 아래껀
score = int(input('점수를 입력하세요>>> '))
if score >= 90:
  hak = 'A'
elif score >= 80:
  hak = 'B'
elif score >= 70:
  hak = 'C'
elif score >= 60:
  hak = 'D'
else:
  hak = 'F'

print(f'점수는 {score}점이고, 학점은 {hak}학점입니다.')

# if score >= 90:
#   print(f'점수는 {score}점이고 학점은 A학점입니다.')
# elif score >= 80:
#   print(f'점수는 {score}점이고 학점은 B학점입니다.')
# elif score >= 70:
#   print(f'점수는 {score}점이고 학점은 C학점입니다.')
# elif score >= 60:
#   print(f'점수는 {score}점이고 학점은 D학점입니다.')
# else:
#   print(f'점수는 {score}점이고 학점은 F학점입니다.')

점수를 입력하세요>>> 90
점수는 90점이고, 학점은 A학점입니다.

In [9]:
#2
num = int(input('정수를 입력하세요>>> '))
if num % 3 == 0:
  print(f'{num}는 3의 배수가 아닙니다.')
else:
  print(f'{num}는 3의 배수입니다.')

정수를 입력하세요>>> 15
15는 3의 배수입니다.

In [11]:
#3
# a = int(input('정수1 입력하세요>>> '))
# b = int(input('정수2 입력하세요>>> '))
# c = int(input('정수3 입력하세요>>> '))
# if a > b and a > c:
#   print(f'가장 큰 수는 {a}입니다.')
# elif b < a and b > c:
#   print(f'가장 큰 수는 {b}입니다.')
# else:
#   print(f'가장 큰 수는 {c}입니다.')
#위에 것을 좀 더 요약을 해본다면 아래 와 같다.
a = int(input('정수1 입력하세요>>> '))
b = int(input('정수2 입력하세요>>> '))
c = int(input('정수3 입력하세요>>> '))

if a > b and a > c:
  max = a
elif b > a and b > c:
  max = b
else:
  max = c
print(f'가장 큰 수는{max}입니다.')

정수1 입력하세요>>> 3
정수2 입력하세요>>> 2
정수3 입력하세요>>> 1
가장 큰 수는3입니다.

In [19]:
#4
a = (input('차량번호를 입력하세요>>> '))

if int(a[-1]) % 2 == 0:
  print(f"차량번호 '{a}'는 오늘 운행가능입니다.")
else:
  print(f"차량번호 '{a}'는 오늘 운행불가입니다.")

차량번호를 입력하세요>>> 237가1234
차량번호 '237가1234'는 오늘 운행가능입니다.

In [ ]:
# 반복문 
# while , for 가 있지만 for를 정말 많이 사용한다고 함 
# for문은 반복횟수가 명확할때 주로 사용 // while은 반복횟수가 불명확할때 주로 사용
#1 while 
# ---기본 구조--- 
# while 조건식:
  # 반복 실행문

# while True: #무한 반복 
#   print('Hello Python')

In [20]:
#1부터 10까지 출력하기 
n = 1

while n<=10:
  print(n)
  n+=1

1
2
3
4
5
6
7
8
9
10

In [21]:
n = 10
while n>=1:
  print(n)
  n-=1

10
9
8
7
6
5
4
3
2
1

In [25]:
#중첩 
day = 1
while day <= 5:
  hour = 1
  while hour <= 3:
    print(f'{day}일차 {hour}입니다.')
    hour += 1
  day +=1

1일차 1입니다.
1일차 2입니다.
1일차 3입니다.
2일차 1입니다.
2일차 2입니다.
2일차 3입니다.
3일차 1입니다.
3일차 2입니다.
3일차 3입니다.
4일차 1입니다.
4일차 2입니다.
4일차 3입니다.
5일차 1입니다.
5일차 2입니다.
5일차 3입니다.

In [36]:
#1
num = int(input('정수를 입력하세요>>> '))

if num <= 0:
  print('잘못된 입력입니다.')
else:
  n = 0
  while num > n:
    print(f'{n+1}번째 Hello')
    n += 1

정수를 입력하세요>>> 5
1번째 Hello
2번째 Hello
3번째 Hello
4번째 Hello
5번째 Hello

In [46]:
#2
# n = 1

# while n<=14:
#   print(n*7)
#   n+=1
# 위에 것도 가능은 하지만 일일이 새봐야 알 수 있기에 아래 것을 추천. 
n = 1
while n <= 100:
  if n % 7 == 0:
    print(n)
  n += 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [47]:
#3 1잔에 300원 ex) 1400원 넣으면 커피 1잔 잔돈1100원이 나와야함
coin = int(input('자판기에 얼마를 넣을까요?>>> '))

coffee = 0
while coin >=300:
  coffee += 1 
  coin -=300 

  print(f'커피{coffee}잔, 잔돈{coin}원')

자판기에 얼마를 넣을까요?>>> 1400
커피1잔, 잔돈1100원
커피2잔, 잔돈800원
커피3잔, 잔돈500원
커피4잔, 잔돈200원

In [48]:
#4
num = set()
while len(num) < 5:
  n = int(input('0~9 사이 정수를 입력하세요>>> '))
  num.add(n)

print('모두 입력되었습니다.')
print(f'입력된 값은 {num}입니다.')

0~9 사이 정수를 입력하세요>>> 0
0~9 사이 정수를 입력하세요>>> 0
0~9 사이 정수를 입력하세요>>> 0
0~9 사이 정수를 입력하세요>>> 1
0~9 사이 정수를 입력하세요>>> 2
0~9 사이 정수를 입력하세요>>> 5
0~9 사이 정수를 입력하세요>>> 3
모두 입력되었습니다.
입력된 값은 {0, 1, 2, 3, 5}입니다.