<a href="https://colab.research.google.com/github/CastleSONG/pythonbasicclass/blob/main/Python_Basic_Day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# 3 기본 자료형(page33)

# 1. 정수 int 
int(1.9)

int(True)

int(False)

int('100') 
# 큰 따옴표 또는 작은 따옴표 안에 있는 숫자는 숫자처럼 보이지만 문자다. 
# int() 괄호 안에 숫자처럼 보이는 문자를 넣어주면 진짜 숫자로 변환된다. 

float(1)

float(True)
float(False)

input('숫자를 입력하세요>>>') #input은 모든 입력을 문자로만 받는다.

숫자를 입력하세요>>>123

'123'

In [15]:
bool(1)

bool('@')

True

In [20]:
# 4. 문자열 string
a = '대한\n민국'
print(a)
b = "한국"

a = '''대한
민국'''
b = """대한
민국"""

print(a)

대한
민국
대한
민국

In [21]:
str(100)

'100'

In [23]:
# 문자열 인덱싱(indexing)
# 인덱싱은 문자열을 구성하는 모든 문자에 부여한 고유의 번호이다. 

s = 'hello'
print(s[0]) #인덱스의 시작은 0이다. 
# hello
# 01234 각 문자의 인덱스 번호

h

In [24]:
# h e l l o
#         -1로도 본다
s = 'hello'
print(s[-1])

o

In [25]:
# 문자열 스라이싱 slicing
# 문자열의 인덱스를 사용하여 한문자 이상으로 구성된 단어나 문장을 추출

s = 'banana'
s[0:3]

'ban'

In [26]:
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7])

강남구

In [ ]:
# 04 컬렉션 collection 
# 여러 값을 하나의 이름으로 묶어서 관리하는 자료형 
# 리스트 ,튜플, 딕셔너리, 셋

In [27]:
# 리스트 list
# 리스트는 여러값을 저장할 때 가장 많이 사용되는 자료형이다. 
# 특징
# 1. 대괄호로 생성한다. [] 
# 2. 여러가지 자료형을 하나의 리스트로 생성할 수 있다.(?)
# 3. mutable 한 속성을 갖는다. (수정,삭제가 가능하다.)

In [28]:
list1 = [1,2,3,4]
list2 = [1,2,3,'대','한',True]
#에러에 요지가 많이 생긴다.

In [34]:
#리스트에서 몇번째 indexing
li = [100,3.14,'hello']
    # 0 , 1 , 2  
li[2]

'hello'

In [32]:
#리스트에서 slicing 
li[0:3]

[100, 3.14, 'hello']

In [35]:
# append() - 리스트에 데이터를 추가 
scores = [50,40,30]
scores.append(100) # 값을 추가할 때 사용하는()
scores

[50, 40, 30, 100]

In [36]:
#insert() - 리스트에 데이터를 추가 
scores.insert(0,90)
scores

[90, 50, 40, 30, 100]

In [39]:
# pop() - 리스트에서 데이터 삭제 
scores = [50,40,30]
scores.pop() #pop() 괄호안에 생략하면 마지막 끝 값을 삭제 한다. 
scores

[50, 40]

In [40]:
scores.pop(0)
scores

[40]

In [ ]:
# 튜플 tuple 
# 저장된 값을 변경할 수 없는 리스트 변경된 값을 바꿀수 없는 리스트라고 보면 된다. 
# 특징
# 1. 대괄호로 생성한다. () 튜플은 괄호 생략 가능 
# 2. 여러가지 자료형을 하나의 튜플로 생성할 수 있다. 
# 3. immutable 한 속성을 갖는다. (수정,삭제가 불가능하다.) 
# 4. indexing , slicing 이 가능하다. 
# 5. 하나만 생성을 할때는 쉼표를 넣어줘야 한다. (1개의 원소를 갖는 튜플을 생성할때는 (,) 쉼표를 붙인다. )

In [41]:
li = [1]
print(li)
print (type(li))

[1]
<class 'list'>

In [47]:
# tu = (1)
# print(li)
# print (type(tu))

tu = (1,)
print(li)
print (type(tu))

[1]
<class 'tuple'>

In [49]:
tu = 1,2,3,4,5
tu[0]

1

In [52]:
tu[0:4]

(1, 2, 3, 4)

In [ ]:
# set(셋) 
# 1. 중괄호로 생성한다. {} 튜플은 괄호 생략 가능 
# 2. 여러가지 자료형을 하나의 셋으로 생성할 수 있다. 
# 3. mutable 한 속성을 갖는다. (수정,삭제가 가능하다.) 
# 4. indexing , slicing 이 불가능하다. 순서가 없다. 
# 5. 중복된 데이터를 함께 저장할 수 없다. (고유한 하나의 데이터에만 저장이 된다.) , 중복 불가능

In [54]:
set = {1,1,2,3}
set

{1, 2, 3}

In [55]:
set.add(4)
set

{1, 2, 3, 4}

In [56]:
set.remove(3)
set

{1, 2, 4}

In [ ]:
#dic 딕션너리

# 1. 중괄호로 생성한다. {} 
# 2. 여러가지 자료형을 하나의 딕셔너리로로 생성할 수 있다. 
# 3. mutable 한 속성을 갖는다. (수정,삭제가 가능하다.) 
# 4. indexing , slicing 이 불가능하다. 순서가 없다. unorder
# 5. 키와 벨류로 구성한다.  

#dict = {'name':'홍길동','age':24} 이런식으로 사용됨

In [58]:
dict = {'name':'홍길동','age':24} 

d = {'a':'apple','b':'banana'}
d['b']

'banana'

In [59]:
d['c'] = 'cherry'
d

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}

In [60]:
d.pop('c')
d

{'a': 'apple', 'b': 'banana'}

In [61]:
# mutable : 리스트 , 셋 , 딕셔너리
# imutable : 튜플 정수 실수 문자열

me = [1,2,3]
id(me) #실제 데이터가 저장된 메모리 위치

140164643607328

In [62]:
me.append(4)
id(me) #메모리의 실제 주소가 바뀌지 않았다.

140164643607328

In [63]:
me

[1, 2, 3, 4]

In [66]:
# imutable
me = 10
id(me)

94764644465440

In [67]:
me += 1   #me = me + 1 이렇게 보면 됨 
id(me) #메모리의 주소가 바뀐것을 확인 할 수 있다.

94764644465472